<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wxmp.wxmobile.mapper.BusinessArticleDao">
    <insert id="createBusinessArticle" flushCache="true" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO wxmobile_business_article (name,title,create_time,update_time,url,content,type_id,pic_url,short_content)
        VALUES
        (#{name},#{title},#{createTime},#{updateTime},#{url},#{content},#{typeId},#{picUrl},#{shortContent})
    </insert>
    <update id="updateBusinessArticle">
        UPDATE wxmobile_business_article
        SET name = #{name},update_time = #{updateTime},title = #{title},type_id = #{typeId},short_content = #{shortContent},pic_url=#{picUrl}
        WHERE id = #{id}
    </update>

    <select id="findByTypeId" resultType="com.wxmp.wxmobile.domain.BusinessArticle">
        SELECT id,name,title,short_content,create_time,url,type_id,pic_url,update_time FROM  wxmobile_business_article WHERE type_id = #{id} ORDER BY create_time desc
    </select>

    <select id="findById" resultType="com.wxmp.wxmobile.domain.BusinessArticle">
        SELECT * FROM  wxmobile_business_article WHERE  id = #{id}

    </select>
    <select id="list" resultType="com.wxmp.wxmobile.domain.BusinessArticle">
        SELECT * FROM  wxmobile_business_article ORDER BY create_time DESC
    </select>
    <delete id="deleteBusinessArticle">
        DELETE FROM  wxmobile_business_article where id = #{id}
    </delete>


</mapper>