<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wxmp.wxcms.mapper.BusinessArticleTypeDao">
    <insert id="createBusinessArticleType">
        INSERT  INTO wxcms_business_article_type (id,name,create_time,update_time,url)
        VALUES
        (#{id},#{name},#{createTime},#{updateTime},#{url})
    </insert>
    <update id="updateBusinessArticleType">
        UPDATE wxcms_business_article_type
        SET name = #{name},update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="com.wxmp.wxcms.domain.BusinessArticleType">
        SELECT * FROM  wxcms_business_article_type WHERE id = #{id}
    </select>





</mapper>