<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxmp.wxcms.mapper.SysUserDao">
    <!--根据用户名密码查询-->
    <select id="getSysUser" parameterType="com.wxmp.wxcms.domain.SysUser"
    	resultType="com.wxmp.wxcms.domain.SysUser">
		SELECT * FROM sys_user t
		where t.account =  #{account}
		and t.pwd = #{pwd}
	</select>
	
	<!--根据主键id查询用户-->
    <select id="getSysUserById" parameterType="java.lang.String"
    	resultType="com.wxmp.wxcms.domain.SysUser">
		SELECT * FROM sys_user t
		where t.id =  #{userId}
	</select>
	
	
    <!--修改登录密码-->
	<update id="updateLoginPwd" parameterType="com.wxmp.wxcms.domain.SysUser" >
		UPDATE sys_user
		SET pwd = #{newpwd},
		    update_time = #{updateTime} 
		WHERE id = #{id} 
	</update>

	<!--根据账户查询用户-->
	<select id="getSysUserByAccount" parameterType="java.lang.String" resultType="com.wxmp.wxcms.domain.SysUser">
		SELECT * FROM sys_user
		WHERE account = #{account}
	</select>

	<insert id="createSysUser" parameterType="com.wxmp.wxcms.domain.SysUser">
		INSERT INTO sys_user (id,account,pwd) VALUES (#{id},#{account},#{pwd})
	</insert>

</mapper>